.allowed-emails-container {
  width: 100%;
  margin: 0;
  padding: 0;
   padding-bottom: 120px; 
  }

.allowed-emails-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  border-bottom: 2px solid #ecf0f1;
  padding-bottom: 15px;
}



.allowed-emails-header p {
  color: whitesmoke;
  font-size: 13px;
  margin: 0;
  font-weight: 500;
}


.allowed-emails-card {
  background: whitesmoke;
  border-radius: 8px;
  padding: 30px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.add-email-form {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.email-input {
  flex: 1;
  padding: 12px 15px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  background-color: red;
  color: white;
}

.email-input::placeholder {
  color: black;
}

.email-input:focus {
  outline: none;
  border-color: #8a8a8a;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.06);
}

.add-btn {
  padding: 11px 22px;
  background-color: #27ae60;
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 750;
  transition: background-color 0.3s ease;
    letter-spacing: 0.07em;
  white-space: nowrap; /*text does nto break,..*/
}


.add-btn:hover {
  background-color: #229954;
}

.add-btn:active {
  transform: scale(0.98);
}

.message {
  padding: 15px 20px;
  border-radius: 6px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

.message-success {
  background-color: #d4edda;
  color: #02c42f;
  border: 1px solid #c3e6cb;
}

.message-error {
  background-color: #f8d7da;
  color: #cd0217;
  border: 1px solid #f5c6cb;
}

.emails-list {
  margin-top: 20px;
}

.empty-message {
  text-align: center;
  color: #999;
  padding: 40px 20px;
  font-size: 14px;
}

.emails-table {
  width: 100%;
  border-collapse: collapse;
}

.emails-table thead {
  background-color: #eaebec;
}

.emails-table th {
  padding: 15px;
  text-align: left;
  font-weight: 700;
  color: #4b4a4a;
  border-bottom: 2px solid #bfbfc0;
}

.emails-table td {
  padding: 15px;
  border-bottom: 1px solid #d3d5d5;
  color: #4b4a4a;
  font-size: 14px;
  font-weight: 600;
}

.emails-table tbody tr:hover {
  background-color: #f8f9fa;
}

.delete-btn {
  padding: 7px 13px;
  background-color: #fd5300;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  letter-spacing: 0.07em;

}


.delete-btn:hover {
  background-color: #c0392b;
}

.delete-btn:active {
  transform: scale(0.95);
}

/* Responzívnosť */
@media (max-width: 600px) {
  .allowed-emails-card {
    padding: 20px;
  }

  .allowed-emails-header h2 {
    font-size: 24px;
  }

  .add-email-form {
    flex-direction: column;
  }

  .add-btn {
    width: 100%;
  }

  .emails-table th,
  .emails-table td {
    padding: 10px;
    font-size: 12px;
  }

  .delete-btn {
    padding: 4px 8px;
  }
}
